<h1>New Message</h1>

<%= form_for(@message) do |form| %>
  <%= form.hidden_field :sender_id, :value => current_user.id %>
  <%= form.hidden_field :receiver_id, :value => current_user.id %>

  <%= form.fields_for :posts do |posts_field| %>
    <%= posts_field.hidden_field :user_id, :value => current_user.id %>
    <%= posts_field.text_area :content, id: "textarea", require: true %>
  <% end %>
  
  <%= form.submit '글 남기기', class: "btn btn-primary" %>
<% end %>

<%#= link_to 'Back', posts_path %>
